body { background:black; color:white; font-family:Arial; text-align:center; padding:20px; }
.logo { color:red; font-size:24px; font-weight:bold; text-align:left; }
button { background:red; padding:12px 20px; border:none; color:white; cursor:pointer; font-size:18px; }
.hidden { display:none; }
.graph { width:80%; margin-top:20px; }
.c { color:red; }
.h { color:orange; }
.m { color:gray; }
.l { color:white; }
